.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

nav{
  display: flex;
}

nav a{
  color: black;
  text-decoration: none;
  margin-right: 20px;

}

nav a:hover{
  color: orange;

}